{% extends 'carts/base_carts.html' %}


{% block content %}

<div>
    <table class="table table-hover">
    <thead>
    <th>Item</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Total</th>
    <th>Action</th>
    </thead>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>$<b>{{ cart.total }}</b></td>
        <td></td>

    </tr>
    </tfoot>
{% for product in cart.products.all %}

    <tr>
        <td>{{ product.title }}</td>
        <td style="font-size: x-large">
            <a href="{% url 'increase_url' product.id %}"><b>&plusb;</b></a>

            {{ product.amount }}

            <a href="{% url 'decrease_url' product.id %}"><b>&minusb;</b></a>
        </td>
        <td>{{ product.price }}</td>
        <td>{{ product.get_total }}</td>
        <td><a href="{% url 'update_cart_url' product.id%}"><button class="btn btn-danger">Remove</button></a></td>

    </tr>

{% endfor %}

    </table>

</div>

{#    <div align="center">#}
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button class="btn btn-primary">Confirm order</button>#}
{#    </form>#}
{#</div>#}


{% endblock %}