{% extends 'carts/base_carts.html' %}


{% block content %}

<div>
    <table class="table table-hover">
    <thead>
    <th>Product</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Total</th>
    <th>Action</th>
    </thead>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>$<b>{{ cart.total }}</b></td>
        <td></td>

    </tr>
    </tfoot>
{% for item in cart.items.all %}

    <tr>
        <td>{{ item.product.title }}</td>
        <td style="font-size: x-large">
            <a href="{% url 'increase_url' item.id %}"><b>&plusb;</b></a>

            {{ item.amount }}

            <a href="{% url 'decrease_url' item.id %}"><b>&minusb;</b></a>
        </td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.get_full_price }}</td>
        <td><a href="{% url 'update_cart_url' item.product.id %}"><button class="btn btn-danger">Remove</button></a></td>

    </tr>

{% endfor %}

    </table>


</div>
{% if request.session.is_work_time and user.is_authenticated %}

<div align="center">

    <div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Order Info</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post" action="{% url 'confirm_order_url' %}">
            {% csrf_token %}

            <div class="md-form">
                <label for="time">Delivery time</label>
                <select name="delivery_time" id="time" class="form-control" required>
                    <option value=""></option>
                    <option value="9:00 - 10:00">9:00 - 10:00</option>
                    <option value="10:00 - 11:00">10:00 - 11:00</option>
                    <option value="11:00 - 12:00">11:00 - 12:00</option>
                    <option value="12:00 - 13:00">12:00 - 13:00</option>
                    <option value="13:00 - 14:00">13:00 - 14:00</option>
                    <option value="14:00 - 15:00">14:00 - 15:00</option>
                    <option value="15:00 - 16:00">15:00 - 16:00</option>
                    <option value="16:00 - 17:00">16:00 - 17:00</option>
                    <option value="17:00 - 18:00">17:00 - 18:00</option>
                    <option value="18:00 - 19:00">18:00 - 19:00</option>
                    <option value="19:00 - 20:00">19:00 - 20:00</option>
                    <option value="20:00 - 21:00">20:00 - 21:00</option>
                    <option value="21:00 - 22:00">21:00 - 22:00</option>
                </select>

            </div>

            <div class="md-form">
                <input type="text" id="text_1" name="delivery_address" class="form-control">
                <label for="text_1">Delivery address</label>
            </div>


            <div class="md-form">
                <textarea name="comment" id="ta" cols="30" rows="5" class="form-control"></textarea>
                <label for="ta">Write your comment</label>
            </div>
            <input class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" value="Confirm order">

        </form>

    </div>

</div>
                {% elif request.session.is_work_time and not user.is_authenticated %}

        <div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Order Info</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="post" action="{% url 'confirm_order_url' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormFirstName" name="first_name" class="form-control" required>
                        <label for="materialRegisterFormFirstName">First name</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="materialRegisterFormLastName" name="last_name" class="form-control" required>
                        <label for="materialRegisterFormLastName">Last name</label>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" name="email" class="form-control" required>
                <label for="materialRegisterFormEmail">E-mail</label>
            </div>

            <div class="md-form">
                <label for="time">Delivery time</label>
                <select name="delivery_time" id="time" class="form-control" required>
                    <option value=""></option>
                    <option value="9:00 - 10:00">9:00 - 10:00</option>
                    <option value="10:00 - 11:00">10:00 - 11:00</option>
                    <option value="11:00 - 12:00">11:00 - 12:00</option>
                    <option value="12:00 - 13:00">12:00 - 13:00</option>
                    <option value="13:00 - 14:00">13:00 - 14:00</option>
                    <option value="14:00 - 15:00">14:00 - 15:00</option>
                    <option value="15:00 - 16:00">15:00 - 16:00</option>
                    <option value="16:00 - 17:00">16:00 - 17:00</option>
                    <option value="17:00 - 18:00">17:00 - 18:00</option>
                    <option value="18:00 - 19:00">18:00 - 19:00</option>
                    <option value="19:00 - 20:00">19:00 - 20:00</option>
                    <option value="20:00 - 21:00">20:00 - 21:00</option>
                    <option value="21:00 - 22:00">21:00 - 22:00</option>
                </select>

            </div>

            <div class="md-form">
                <input type="text" id="text_1" class="form-control" required name="delivery_address">
                <label for="text_1">Delivery address</label>
            </div>

            <!-- Phone number -->
            <div class="md-form">
                <input type="text" name="phone" id="materialRegisterFormPhone" class="form-control" required aria-describedby="materialRegisterFormPhoneHelpBlock"
                pattern="^(\+375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})$" placeholder="(+375|80)(29|25|44|33)1112233">
                <label for="materialRegisterFormPhone">Phone number</label>
                <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">

                </small>
            </div>


            <div class="md-form">
                <textarea name="comment" id="ta" cols="30" rows="5" class="form-control"></textarea>
                <label for="ta">Write your comment</label>
            </div>
            <input class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" value="Confirm order">

        </form>

    </div>

</div>
</div>

    {% else %}

    <div align="center">
        <h1>Sorry we're closed until 8 AM</h1>
    </div>

    {% endif %}


{% endblock %}