{% extends 'carts/base_carts.html' %}


{% block content %}

<div>
    <table class="table table-hover">
    <thead>
    <th>Product</th>
    <th>Amount</th>
    <th>Price</th>
    <th>Total</th>
    <th>Action</th>
    </thead>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>$<b>{{ cart.total }}</b></td>
        <td></td>

    </tr>
    </tfoot>
{% for item in cart.items.all %}

    <tr>
        <td>{{ item.product.title }}</td>
        <td style="font-size: x-large">
            <a href="{% url 'increase_url' item.id %}"><b>&plusb;</b></a>

            {{ item.amount }}

            <a href="{% url 'decrease_url' item.id %}"><b>&minusb;</b></a>
        </td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.get_full_price }}</td>
        <td><a href="{% url 'update_cart_url' item.product.id %}"><button class="btn btn-danger">Remove</button></a></td>

    </tr>

{% endfor %}

    </table>


</div>

    <div align="center">
    <form action="" method="post">

        {% csrf_token %}
        {{ cart.items.all }}

        <input type="submit" value="Order">
    </form>
    </div>

{#    <div align="center">#}
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button class="btn btn-primary">Confirm order</button>#}
{#    </form>#}
{#</div>#}


{% endblock %}